/* NAME: Miguel Cordero
   COURSE: MMP 310
   DATE: 11/6/2016
*/

/*---------- Font Families -----------
font-family: 'Karla', sans-serif; Bold
font-family: 'Cabin Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body {
    background-color: #fcfcfc; /*#f9f9f9;*/
    margin: 0 0 100px;
    padding: 25px;
}

html {
    position: relative;
    min-height: 100%;
}

/*---------------- Navigation Bar------------------*/

.logo {
    width: 150px;    
}

.icon-bar {
    background-color: #ff4f5f; 
}

a {
    color: black;
}

.nav > li > a {
    white-space:nowrap;
    font-family: 'Karla', sans-serif; 
    font-weight: bold;
    font-size: 1.1em;
}

.nav > li > a:hover { 
    background-color: transparent; 
}

.nav > li > a:active { 
    background-color: transparent; 
}

.nav > li > a:focus { 
    background-color: transparent; 
}

.nav > li > a:before {
    content: '';
    right:17%;
    left:100%;
    height:40%;
    background: #ffeb3e;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    top: 10;
    z-index: -1;
    position: absolute;
}

.nav a:hover:before{
    left:0;
}

.nav a:hover:before{
    left:5px;
}
.navbar-brand {
    padding-top: 0px;
}

.navbar-right {
    padding-top: 0px;
}

/*--------------- Main ---------------*/
.container {
    
}

.top-space {
    height: 60px;
}

.row {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.leftSide {
    height: 500px;
    margin-left: 50px;
}

.rightSide {
    border: 2px solid #f2f2f2;
    background-color: white;
    height: 500px; 
    margin-left: -130px;
}

.verticalAln{
    font-family: 'Karla', sans-serif;
    font-size: 3.5em;
    display: table-cell;
    vertical-align: middle;
}

.row:before {
    display: block;
}

.row > .leftSide-about > h1:before {
    content: '';
    right:20%;
    left:15%;
    height:10%;
    background: #ffeb3e;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    top: 10;
    z-index: -1;
    position: absolute;
}

.leftSide-about {
    height: 500px;
    margin-left: -60px;
    margin-top: auto;
    margin-bottom: auto;
    display: table;
}

.rightSide-about {
    border-left: 2px solid #f2f2f2;
    height: 500px; 
    margin-left: 20px;
    padding-left: 50px;
    margin-top: auto;
    margin-bottom: auto;
    display: table;
}

.aboutText {
    text-align: justify;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
}

.leftSide-contact {
    margin-left: -200px;
    display: table;
   
}

.rightSide-contact {
    width: 720px; 
    margin-left: 350px;
    padding-left: 150px;
    margin-top: 40px;
    position: absolute;
    z-index: -1;
    display: table;
}

.banner {
    max-height: 520px;
    display: inline-block;
    position: relative;
    margin-top: 25px;
}

.form-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.logo-form {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    width: 200px;
}

.input-email{
    margin-bottom: 15px;
}

.input-pass {
     margin-bottom: 15px;
}

.form-p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 15px;
}

.form-p-2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 20px;
}

.btn-block {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    background-color: #008cff;
    border: none;
}

/*--------------- Contact Form ----------------*/

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ff4f5f;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #ffeb3e;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #ffeb3e;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

body {
  font-family: 'Lato', sans-serif;
}

header {
    position: relative;
    margin: 110px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 5px;
    color: white;
}

header:before {
    content: '';
    right:24%;
    left:20%;
    height:38px;
    background: #ffeb3e;
    top: 10;
    z-index: -1;
    position: absolute;
}

#form {
    background-color: #fcfcfc;
    position: relative;
    width: 470px;
    margin: 50px auto 200px auto;
    height: auto;
}

form > input {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    max-width: 470px;
    width: 100%;
    height: 80px;
    padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

 form > input:hover {
  background: white;
  color: #e2dedb;
}

textarea {
  width: 100%;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: white;
  color: #e2dedb;
}

#submit {
    max-width: 470px;
    width: 100%;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #ff4f5f;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
    background-color: #008cff;
}

/*---------------- Footer ------------------*/

.page-footer {
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    color: #999;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 25px;
    width: 100%;
}

.nav-footer {
    margin-bottom: 10px;
}

.nav > li > .foot {
    padding-top: 30px;
    white-space:nowrap;
    font-family: 'Karla', sans-serif; 
    font-weight: bold;
    font-size: 1.1em;
}

.copyright {
    display: block;
    vertical-align: baseline;
    float: right;
    margin-top: 30px;
    
}

/*----------------- Media Queries ---------------*/

@media only screen and (max-width: 2560px) {
    
   .leftSide {
    height: 500px;
    margin-left: 110px;
    margin-top: 25px;
    }

    .rightSide {
        border: 2px solid #f2f2f2;
        background-color: white;
        height: 540px; 
        margin-left: -150px;
    }
}

@media only screen and (max-width: 1200px) {
    
   .leftSide {
    height: 500px;
    margin-left: -10px;
    }

    .rightSide {
        border: 2px solid #f2f2f2;
        background-color: white;
        height: 540px; 
        margin-left: -50px;
    }
}

@media only screen and (max-width: 1200px) {
    
   .leftSide {
    height: 500px;
    margin-left: 0px;
    }

    .rightSide {
        border: 2px solid #f2f2f2;
        background-color: white;
        height: 540px; 
        margin-left: 0px;
    }
    
    header:before {
        content: '';
        right:18%;
        left:15%;
        height:38px;
        background: #ffeb3e;
        top: 10;
        z-index: -1;
        position: absolute;
    }
    
    .rightSide-contact {
        width: 60%; 
        margin-left: 320px;
        padding-left: 50px;
        margin-top: 40px;
        position: absolute;
        z-index: -1;
        display: table;
    }
}

@media only screen and (max-width: 1012px) {      /*------ Media Query for the Contact page ------*/
       #form {
            background-color: #fcfcfc;
            position: relative;
            text-align: center;
            width: 100%;
            margin: 50px auto 200px auto;
            height: auto;
        }
    
    .leftSide-contact {
        display: table;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    .rightSide-contact {
        width: 60%; 
        margin-left: 320px;
        padding-left: 50px;
        margin-top: 40px;
        position: absolute;
        z-index: -1;
        display: none;
    }
    
    header:before {
        content: '';
        right:0%;
        left:0%;
        height:38px;
        background: #ffeb3e;
        top: 10;
        z-index: -1;
        position: absolute;
    }
}

@media only screen and (max-width: 992px) {      /*------ Media Query for the about page ------*/
    .leftSide-about {
        padding-top: 50px;
        height: 200px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .rightSide-about {
        border-top: 2px solid #f2f2f2;
        border-left: none;
        padding-top: 70px;
        height: 100%; 
        margin-left: 0;
        padding-left: 0;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    
    .row > .leftSide-about > h1 {
        display:block; 
        text-align: center;
    }
    
    .row > .leftSide-about > h1:before {
        content: '';
        right: 35%;
        left: 30%;
        height: 50px;
        background: #ffeb3e;
        transition: 0.5s ease;
        -o-transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -ms-transition: 0.5s ease;
        top: 10;
        z-index: -1;
        position: absolute;
    }
}

@media only screen and (max-width: 768px) {
    
   .leftSide {
        height: 500px;
        margin-left: 0px;
        display: none;  
    }

    .rightSide {
        border: 2px solid #f2f2f2;
        background-color: white;
        height: 560px; 
        margin-left: 0px;
    }
    
    .copyright {
        display: inline-block;
        vertical-align: baseline;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}

@media only screen and (max-width: 615px) {
    header {
        position: relative;
        margin: 110px 0 25px 0;
        font-size: 1.5em;
        text-align: center;
        letter-spacing: 5px;
        color: white;
    }
    
    .header:before {
        content: '';
        right:0%;
        left:0%;
        height:60px;
        background: red;
        top: 10;
        z-index: -1;
        position: absolute;
    }
}

/*-------------- MAIN CSS -------------*/

#POST {
    max-width: 460px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#post-header {
    text-align: left;
    color: black;
    position: relative;
    margin: 0 0 0 0;
    font-size: 2.3em;
    letter-spacing: 3px;
}

#floating-button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #db4437;
    position: fixed;
    bottom: 80px;
    right: 35px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
    z-index: 1;
}

.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}

#container-floating{
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 0;
  right: 0;
  z-index: 50px;
}

#container-floating:hover{
  height: 400px;
  width: 90px;
  padding: 30px;
}

#container-floating:hover .plus{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}

.edit{
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  padding: 0;
  opacity: 0;
  margin: auto;
  line-height: 65px;
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s;
}

#container-floating:hover .edit{
  animation: edit-in 0.2s;
   animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes edit-in{
    from {opacity: 0; transform: rotateZ(-70deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

@keyframes edit-out{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(-70deg);}
}

@keyframes plus-in{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(180deg);}
}

@keyframes plus-out{
    from {opacity: 0; transform: rotateZ(180deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

/*------------ MODAL ------------*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-form {
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#modal-input {
    width: 60px;
}

.inputFileToLoad {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 460px;
    width: 100%;
    margin-top: 60px;
}